#posiciona {
      position:fixed; /* posição absoluta ao elemento pai, neste caso o BODY */
    /* Posiciona no meio, tanto em relação a esquerda como ao topo */
    left: 50%; 
    top: 50%;
    width: 500px; /* Largura da DIV */
    height: 500px; /* Altura da DIV */
    /* A margem a esquerda deve ser menos a metade da largura */
    /* A margem ao topo deve ser menos a metade da altura */
    /* Fazendo isso, centralizará a DIV */
    margin-left: -150px;
    margin-top: -125px;
    background-color: #FFF;
    color: #FFF;
    background-color: #666;
    text-align: center; /* Centraliza o texto */
    z-index: 1000; /* Faz com que fique sobre todos os elementos da página */
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 3px 3px grey;
}
